[submodule "etch-a-sketch"]
	path = etch-a-sketch
	url = https://github.com/jfinley6/etch-a-sketch

[submodule "calculator"]
	path = calculator
	url = https://github.com/jfinley6/calculator

[submodule "starwars-api"]
	path = starwars-api
	url = https://github.com/jfinley6/Star-Wars-API-Characters

[submodule "meteor-coordinates-map"]
	path = meteor-coordinates-map
	url = https://github.com/jfinley6/meteor-coordinates-map