* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.body-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 12px solid rgb(130, 130, 255);
  height: 88vh;
}

.nav-wrapper {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(130, 130, 255);
  height: 12vh;
}

.nav-title {
  font-size: 30px;
  margin-left: 20px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  color: #fff;
  white-space: nowrap;
}

.nav-image {
  max-width: 112.8px;
  min-width: 112.8px;
  height: auto;
  display: block;
  margin-left: 5px;
}

.nav-links {
  display: flex;
  height: 100%;
}

.nav-links ul {
  margin: 0;
  display: flex;
  padding-left: 0;
  width: 30vw;
  height: 100%;
}

.nav-links li {
  font-size: 1.25rem;
  list-style-type: none;
  font-family: sans-serif;
  font-weight: bold;
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li:hover {
  background-color: rgb(69, 69, 234);
}

.profile-picture {
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 50%;
  height: 400px;
}

.profile-picture-wrapper {
  width: 50%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-text {
  width: 50%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: bold;
  font-size: 40px;
  flex-direction: column;
  color: rgb(20, 69, 154);
}

#project-1 {
  height: 45vh;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 25%;
}

#project-2 {
  height: 45vh;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 25%;
}

.project-title {
  top: 0%;
  height: 10vh;
  min-height: 10vh;
  font-size: 2rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.project-image {
  height: 80%;
  width: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculatorImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.tryButton {
  padding-right: 7px;
}

/* .active {
  border-top: 5px solid red;
  border-bottom: 5px solid red;
} */
